.message {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.imageAndText {
    padding: 24px 10px 0 10px;
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
    margin-top: 15px;
}

.text {
    background: #0066CC;
    border-radius: 5px;
    padding: 10px 10px 5px 10px;
    color: #FFFFFF;
    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    bottom: 0; /* Положение треугольника снизу */
    right: -10px; /* Отступ справа */
    border: 10px solid transparent;
    border-bottom: 10px solid #0066CC; /* Изменяем сторону треугольника */

}


.name {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

.messageText {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.time {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    display: flex;
    justify-content: end;
    padding-right: 23px;
    padding-top: 5px;
}