.input:focus {
    outline: none;
    border: #0059b3 solid 2px;
}

.input {
    border: 2px solid #D1D1D1;
    border-radius: 5px;
    Height: 36px;
    width: 372px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}


.errorInput:focus {
    outline: 3px solid #1a22b4;
}

.error {
}
