.buttonsContainer {
    margin-top: 20px;
}

.clock {
    margin-top: 20px;
}

.watch {
    font-family: Montserrat, serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.watch strong {
}

.more {
    font-weight: 300;
}
