.greetingForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.inputAndButtonContainer {
    display: flex;
    align-items: flex-start;

}

.error {
    border-radius: 5px;
}

.input {
    border: 2px solid #D1D1D1;
    border-radius: 5px;
    Height: 36px;
    width: 372px;
    padding: 10px;
}

.input:focus {
    border: 2px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
}

.errorInput {
    Height: 36px;
    width: 372px;
    border: 2px solid red;
    border-radius: 5px;
}

.button {
    padding: 10px;
    margin-left: 12px;
    border-radius: 3px;
    width: 78px;
    height: 36px;
    background: #0066CC;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    margin: 10px;
}

.greeting {
}
