.sendForm {
    display: flex;
    margin-top: 10px;
}

.textarea {
    width: 976px;
    height: 40px;
    top: 432px;
    left: 70px;
    border-radius: 20px;
    border-color: black;
    margin: 30px 15px 0 20px;
    resize: none;
    display: flex;
    justify-self: start;
}

.button {
    width: 120px;
    height: 40px;
    top: 432px;
    left: 1090px;
    border-radius: 20px;
    background: #0066CC;
    border-color: transparent;
    color: #FFFFFF;
}

.button:hover {

}

.button:active {

}
