.select {
    width: 165px;
    height: 24px;
    position: absolute;
    top: 620px;
    left: 70px;

    border-radius: 2px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194);
    margin-top: 20px;
}

.select:focus {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
}


.option:hover {
    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194)
}
