.button {
    overflow: hidden;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 5px 24px 5px 24px;
    text-align: center;
    margin-right: 12px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
}

.button:last-of-type {
    margin: 0;
}

.disabled {
    background: #004D99;
    color: #002E5C;
    outline: none;
    border: none;
}

.secondary {
    background: white;
    color: #0066CC;
    outline: none;
    border: 2px solid #0066CC;
}

.default {
    background: #0066CC;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
    outline: none;
}

.default:hover {
    outline: 3px solid #1a22b4;
    background: #0080FF;
}

.red:hover {
    outline: 3px solid #1a22b4;
    background: #FF1A47;
}

.secondary:hover {
    outline: 3px solid #1a22b4;
    background: #E5F0FA;
}

.default:active {
    background: #0059B2;
}

.secondary:active {
    background: #B21232;
}

.red:active {
    background: #C9E5FF;
}

.button:disabled {
    color: #212A34;
    Opacity: 50%;
}
