.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.disabled {
}

.secondary {
}

.default {
    background: #0059b3;
    color: #FFFFFF;
    outline: none;
}

.red {
    background: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}

.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    color: #212A34;
}
